* {
  box-sizing: border-box;
}
:root {
  color: #333;
  font-size: max(calc(100vw / 1920), calc(100vh / 1080));
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-size: 14rem;
  background-color: #fff;
  background-image: radial-gradient(circle, #ccc 1px, transparent 1px);
  background-size: 32rem 32rem;
}
input,
button {
  margin: 0;
  cursor: pointer;
}
label {
  cursor: pointer;
  user-select: none;
}
